body {
    margin: 0;
}

canvas {
    display: block;
}

#game {

}

#chatBox {
    text-align: left;
    overflow: auto;
    height:200px;
    background-color: black;
}

.footer {

    margin-top: 100px;
    background-color: green;
}